@font-face {
    src: url(../fontes/big_noodle_titling_oblique.ttf);
    font-family: 'bignoodle';
    font-weight: normal;
}

.classe1{
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 35px;
    font-family: bignoodle;
}