
header {
    position: relative;
    height: 75vh;
    width: 100%;
    padding-top: 250px;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


.div1 {
    overflow:hidden;
    white-space:nowrap;
}

.div1:only-of-type{
    animation: slidein 30s infinite;
}
.div1:first-of-type {
    animation: showup 30s infinite;
}

.div1:last-of-type {
    animation: reveal 30s infinite;
}

@keyframes showup {
    0% {opacity:1;}
    20% {opacity:1;}
    80% {opacity:0;}
    100% {opacity:0;}
}

@keyframes slidein {
    20% { margin-left:auto; }
    20% { margin-left:auto; }
    20% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:9000px;}
    80% {opacity:1;}
    100% {opacity:0;width:9000px;}
}


.p2 {
    font-size:12px;
    color:#999;
    margin-top:200px;
}

.classe1{
    color: white;
    left: 200px;
    text-align: center;
    font-size: 175px;
}

.ajuste {
    padding: 100px 250px 70px 250px;
    background-color: #ebebec;
}


.ajuste2 {
    padding: 70px 250px 70px 250px;
    color: #ebebec;
    background-color: #263238;
}

.ajuste3 {
    padding: 100px 250px 70px 250px;
    color: #ebf6ff;
    background-color: #47565d;
}
.ajuste_texto{
   font-size: 20px;
}
@media only screen and (max-width: 1200px) {
    .classe1{
        color: white;
        text-align: center;
        font-size: 125px;
    }

    }
@media only screen and (max-width: 600px) {
    .classe1{
        color: white;
        text-align: center;
        font-size: 85px;
    }

}
@media only screen and (max-width: 1200px) {
    .ajuste {
        padding: 30px 10px 30px 10px;
    }
    .ajuste2 {
        padding: 30px 10px 30px 10px;
    }
    .ajuste3 {
        padding: 30px 10px 30px 10px;
    }

    .ajuste_texto{
        font-size: 15px;
    }
}


.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:150px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.parallax{
    height: 175px;
    background: url(imagens/capa.jpg)center fixed ;
    background-size: cover;
}


@font-face {
    src: url(../fontes/CaviarDreams.ttf);
    font-family: 'CaviarDreams';
    font-weight: normal;
}@font-face {
    src: url(../fontes/Roadster.ttf);
    font-family: 'Roadster';
    font-weight: normal;
}@font-face {
    src: url(../fontes/big_noodle_titling_oblique.ttf);
    font-family: 'bignoodle';
    font-weight: normal;
}@font-face {
    src: url(../fontes/coolvetica_rg.ttf);
    font-family: 'cool';
    font-weight: normal;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn2 {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
    overflow:hidden;
    white-space:nowrap;
}
/* BARRA DE SCROLL PERSONALIZADA ----------------------------*/
/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
}
/*--------------------------------------------------------*/
.lohgin{
position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
    color: transparent;
}
